body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
 


.gridSizeButton { 
    background-color: #FBDFDF;
    /* border: 5px solid #45252A; */

    color: #45252A;
    font-family: 'Domine', serif;
    /* font-size: 40px; */
    text-align: center;

    cursor: pointer;

    /* border-radius: 8px; */
    opacity: 1;
    transition: 0.4s;
}

.gridSizeButton:hover {
    background-color: #9D4C5A;
    color: #FBDFDF;
}



.gameButton {
    background-color: #562F35;
    /* border: 5px solid #45252A; */

    color: #FBDFDF;
    font-family: 'Domine', serif;
    /* font-size: 40px; */
    text-align: center;

    cursor: pointer;

    /* border-radius: 15px; */
    opacity: 1;
    transition: 0.5s;

}

.gameButton:hover {
    background-color: #EBBDBC;
    color: #45252A;
}


 